
.wrapper-explore{
  max-width: 1200px;
  margin: 0 auto;
}

.explore-text-wrapper{
  display: flex;
  justify-content: center;
}

.explore-text-wrapper h1{
  font-size: 30px;
}

.explore-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 60px 0 150px 0;
}

.tea-view{
  overflow: none;
}

.article-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
  overflow: none;
}

.article-wrapper:hover{
  transform: scale(101%);
}

@media (max-width: 1000px) {
  
  .wrapper-explore{
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .explore-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 60px 0 150px 0;
  }
  
  .article-wrapper{
    max-width: 200px;
  }

}













































