
.footer{
  background-color: #ededed;
}

.footer-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 150px;
  padding-top: 100px;
  padding-bottom: 140px;
}

.more-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 213px;

}

.footer-h{
  font-size: 16px;
  color: #151618;
}

.products-menu li{
  color: #151618;
  padding-top: 20px;
}

.company-list li{
  color: #151618;
  padding-top: 20px;
}

.address-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info-add{
  max-width: 270px;
}

.info-add p{
  font-size: 14px;
}

.stay{
  padding-left: 40px;
}

.stay h1{
  font-size: 14px;
  padding-bottom: 50px;
}

.stay p{
  max-width: 270px;
  font-size: 14px;
  padding-bottom: 20px;
}

.address-footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.wrapper-address{
  display: flex;
  align-items: center;
}

.address-add{
  padding-left: 20px;
}

.address-add li{
  color: #151618;
  font-size: 14px;
}

.address-add li i{
  font-size: 30px;
  padding-right: 10px;
}

.address-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 40px;
  gap: 20px;
}

.address-links li a{
  color: #151618;
  font-size: 25px;
}

@media (max-width: 1000px) {
  
  .footer-wrapper{
    gap: 50px;
  }

  .more-info{
    gap: 60px;
  }

  .address-info{
    gap: 10px;
  }

  .info-add p{
    max-width: 270px;
  }

}

@media (max-width: 768px) {
  .footer-wrapper {
      gap: 67px;
    }
    
    .Products{
      padding-left: 20px;
    }

    .more-info{
      gap: 50px;
    }

    .address-info{
      gap: 50px;
      max-width: 270px;
      padding-right: 62px;
    }

    .stay{
      padding-left: 0;
    }
}













