
.modal-window{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed ;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.modal-open{
  visibility: visible;
  opacity: 1;
}

.wrapper-modal{
  background: #fff;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-btnModal{
  display: flex;
  justify-content: right;
  width: 100% ;
  padding: 20px 20px 20px 0;
}

.menu-modal{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 122px;
}

.menu-modal li{
  color: #000;
}

.contacts-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-bottom: 60px;
}

.address-modal{
  display: flex;
  flex-direction: row;
  gap: 70px;
  background-color: #ededed;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.address-modal li i{
  font-size: 22px;
  padding: 20px 0;
}



















