
.text-wrapper{
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  padding-top: 130px;
  font-size: 20px;
}

.prioritise-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 60px 0 150px 0;
  justify-content: center;
}

.prior-article{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
}

.icon{
  font-size: 60px;
  color: #754E29;
  padding-top: 40px;
}

@media (max-width: 1000px) {
  .prioritise-wrapper{
    gap: 0 210px;
  }

  .prior-article{
    padding-bottom: 30px;
  }

  .icon{
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .prioritise-wrapper{
    gap: 0 0 30px 133px;
  }
}





































